<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bulma.css' />

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/js/jquery.min.js"></script>
    <script src="\javascripts\main.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  </head>
  <body onload="iniciar(<%- etiquetas %>,<%- producto.length %>)">
        </div>
      </div>
      <h1 class="title"><%= title %></h1>

      <div class="columns">
        <div class="column">
          <div class="field">
            <div class="select is-fullwidth">
                <select name='selector' id='selector' onchange="setCantEt(this.value);this.disabled=true;" class="desactivable">
                  <option value='0' selected disabled >Selecciona la medida de las etiquetas</option>
                  <option value='10'> 8 x 4 ( Hasta 10 etiquetas por hoja )</option>
                  <option value='2'> 16 x 8 ( Hasta 2 etiquetas por hoja )</option>
                </select>
              </div>
            </div>
            <div class="field">
                <div class="control">
                  <input class="input is-primary desactivable" type="text" id="descripcion" maxlength="28" placeholder="Nombre del producto" disabled tooltip="Ingrese el nombre del producto">
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <input class="input is-info desactivable" type="number" id="precio" maxlength="4" placeholder="Precio" disabled>
                </div>
              </div>
              <button onclick="agregaProducto('add')" class="button is-success desactivable" id="botonAgregar" disabled>
                  Agregar
                </button>
                <button onclick="imprimir();" class="button is-primary desactivable" id="botonImprimir" href="/labels" disabled>
                    Imprimir
                </button>
                <button onclick="reestablecer()" class="button is-danger" id="botonReestablecer">
                    Reiniciar
                  </button>
        </div>
      
        <div class="column">
          <table class="table is-striped is-hoverable is-fullwidth items">
            <thead>
              <tr>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Borrar?</th>
              </tr>
            </thead>
            <tbody id="tabla">
              <% for(var i=0; i<producto.length; i++) {%>

                    <tr>
                      <td><%= producto[i].descripcion %></td>
                      <td><%= producto[i].precio %></td>
                      <td onclick="agregaProducto('del','<%= i %>')"><span class='icon has-text-danger button'><i class='fas fa-times fa-2'></i></span></td>
                    </tr>
                    <% } %> 
            </tbody>

          </table>
        </div>
      </div>
    

  </body>
</html>
